body {
  margin: 0px;
  background-image: url("wood.jpg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-attachment: fixed;
}

h1 {
  margin: 0px;
  padding-top: 0px;
  padding-bottom: 10px;
  color: #571a1a;
  font-family: 'Cinzel', serif;
}

.regText {
  font-family: 'Arapey', serif;
  font-size: 20px;
  display: inline;
}

form {
  margin: 0px;
}

a {
  color: inherit;
  text-decoration: inherit;
}

.box {
  padding: 10px;
  margin: auto;
  margin-top: 10px;
  width: 75%;
  background-color: #fffbc2;
}

.timestamp {
  font-size: 12px;
}

.storyTitle {
  font-size: 20px; 
}

.box:hover {
  background-color: #fff991;

}

.textBox {
  font-family: 'Arapey', serif;
  font-size: 20px;
}

#radioBSection {
  margin-bottom: 40px;
}

.radioB {
  display: inline;
  margin: 0px 10px;
}


.textBox {
   margin-bottom: 10px;
   padding: 5px;
   background-color: #fffbc2;
   border-style: none;
   border-radius: 5px;
}

#main {
   max-width: 1000px;
   margin: auto;
}

#top {
   background-image: url("parchment-top.png");
   background-repeat: no-repeat;
   background-size: 100% 100%;
   height: 200px;
   margin-top: 20px;
}

#mid {
   background-image: url("parchment-mid.png");
   background-repeat: no-repeat;
   background-size: 100% 100%;
   min-height: 300px;
   /*height: 500px; */
}

#bottom {
   background-image: url("parchment-base.png");
   background-repeat: no-repeat;
   background-size: 100% 100%;
   height: 150px;
   margin-bottom: 20px;
}

#navbar {
  /*height: 100px;*/
}

#navbuttons {
  float: right;
}

#navbuttons > ul > li {
  /*display: inline;*/
  margin: 15px;
  color: white;
  text-align: center;
  list-style-type: none;
  background-color: #571a1a;
  padding: 7px;
  border-radius: 5px;
  transition: 0.5s ease;
}

.fadeable {
  transition: 0.5s ease;
}

#navbuttons > ul > li:hover {
  background-color: #f25c5c;
}

input[type="submit" i] {
  font-family: 'Arapey', serif;
  font-size: 20px;
  color: white;
  background-color: #571a1a;
  border-radius: 5px;
  padding: 7px;
  border-style: none;
  transition: 0.5s ease;
}

input[type="submit" i]:hover {
  background-color: #f25c5c;
}

input[type="radio" i]:checked {
 /* do something with this */
}

#logo {
   float: left;
   padding: 30px 40px;
}

#midContent {
   text-align: center;
}

#footer {
   font-size: 12px;
   text-align: center;
   color: white;
   margin-bottom: 30px;
}
